@font-face {
  font-family: "Roboto";
  src: url(//fonts/Roboto-Regular.woff2) format("woff2");
  font-weight: 400px;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url(//fonts/Roboto-Light.woff2) format("woff2");
  font-weight: 300px;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url(//fonts/Roboto-Black.woff2) format("woff2");
  font-weight: 900px;
  font-style: normal;
  font-display: swap;
}
