:root {
  --white-color: #ffffff;
  --gray-color: #efefef;
  --gray-color-alt:#888888;
  --blue-color: #299cbd;
  --yellow-color: #f9bf3b;
  --black-color: #000000;
  

  --font-femaly-base: "Roboto", sans-serif;
}
